.jumbotron{
	background-color: #556B2F;
}
h4{
	color: CornflowerBlue;
}
footer{
	padding: 10px 10px 0px 10px;
	background-color: #98FB98;
	margin-bottom: 0px;
	margin-top: 10px;
}
.btnProducto{
	width: 100%;
}
.card{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	border:none;
}
